---
import SectionTitle from "../SectionTitle.astro";
import ButtonCta from "../ButtonCta.astro";

const logoWide = "/assets/images/global/logo-wide.svg";
---

<section class="top-access">
  <div class="l-container">
    <div class="top-access-title">
      <SectionTitle titleText="アクセス" />
    </div><!-- /.top-access-title -->
    <div class="top-access-section-body l-section-body">
      <div class="top-access-sp-logo">
        <img src={logoWide} alt="コヨミ ヨガ ピラティス" loading="lazy" decoding="async" width="142" height="45">
      </div><!-- /.top-access-sp-logo -->
      <div class="top-access-wrapper">
        <div class="top-access-info">
          <div class="top-access-pc-logo">
            <img src="/assets/images/global/logo-wide.svg" alt="コヨミ ヨガ ピラティス" loading="lazy" decoding="async" width="142" height="45">
          </div><!-- /.top-access-pc-logo -->
          <div class="top-access-description">
            <p class="top-access-text">〒359-0044<br>埼玉県所沢市松葉町11-11 <span aria-label="2階">2F</span><br><small class="top-access-note">※刑部歯科の2階です</small></p>
            <p class="top-access-text">西武新宿線 新所沢駅から徒歩2分</p>
          </div><!-- /.top-access-description -->
        </div><!-- /.top-access-info -->
        <div class="top-access-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6471.432761231846!2d139.45373!3d35.8068955!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018dd9b23c51e77%3A0x9af0a8d2fc5213c3!2skoyomi%20yoga%20pilates!5e0!3m2!1sja!2sjp!4v1744546051226!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- /.top-access-map -->
      </div><!-- /.top-access-wrapper -->
      <div class="top-access-cta">
        <ButtonCta />
      </div><!-- /.top-access-cta -->
    </div><!-- /.top-access-section-body.l-section-body -->
  </div><!-- /.l-container -->
</section><!-- /.top-access -->

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-access {
    margin-top: 60px;
  }

  .top-access-sp-logo {
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 205px;
      height: 65px;
      filter: invert(28%) sepia(96%) saturate(221%) hue-rotate(344deg) brightness(96%) contrast(81%);
    }
  }

  .top-access-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .top-access-pc-logo {
    display: none;
  }

  .top-access-description {
    display: grid;
    gap: 10px;
    text-align: center;
  }

  .top-access-note {
    font-size: 12px;
  }

  .top-access-map {
    background-color: #eee;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 2 / 1;
    }
  }

  .top-access-cta {
    width: fit-content;
    margin: 40px auto 0;
  }

  @include mq() {
    .top-access {
      margin-top: 100px;
    }

    .top-access-sp-logo {
      display: none;
    }

    .top-access-wrapper {
      flex-direction: row;
      align-items: center;
      gap: min(63px, calc(63 var(--vw-pc)));
    }

    .top-access-info {
      margin-left: min(100px, calc(100 var(--vw-pc)));
      ;
    }

    .top-access-pc-logo {
      display: block;
      img {
        width: 237px;
        height: 75.5px;
        filter: invert(28%) sepia(96%) saturate(221%) hue-rotate(344deg) brightness(96%) contrast(81%);
      }
    }

    .top-access-description {
      flex: 0 0 237px;
      gap: 20px;
      margin-top: 22.5px;
      text-align: left;
    }

    .top-access-map {
      flex: 1 1 auto;
      background-color: #eee;

      iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
      }
    }

    .top-access-cta {
      margin: 60px auto 0;
    }
  }
</style>
