---
import SectionTitle from "../SectionTitle.astro";
---

<section class="top-menu">
  <div class="l-container-s">
    <div class="top-menu-title">
      <SectionTitle titleText="メニュー" />
    </div><!-- /.top-menu-title -->
    <div class="top-menu-section-body l-section-body">
      <ul class="top-menu-list">
        <li class="top-menu-item">
          <div class="top-menu-lesson-title">
            <h3 class="top-menu-lesson-title-text">
              <span>プライベートレッスン</span>
            </h3>
            <p class="top-menu-lesson-title-meta">マシンピラティス　50分/1回</p>
          </div><!-- /.top-menu-lesson-title -->
          <div class="top-menu-item-header">
            <div class="top-menu-description">
              <p class="top-menu-text">誰にも気兼ねせず、<br>自分のペースで進められる特別なレッスン。</p>
              <p class="top-menu-text">心と身体の状態に丁寧に向き合いながら、<br>一人ひとりに合わせて<br>必要なサポートをご提供します。</p>
              <p class="top-menu-text">“自分だけの時間”で、忙しい日常を少し離れて、<br>心地よいリズムを取り戻しませんか?</p>
            </div><!-- /.top-menu-description -->
            <div class="top-menu-image">
              <img src="/assets/images/menu/pic-menu-private@2x.webp" alt="インストラクターがマンツーマンで姿勢をサポートするプライベートピラティスレッスンの様子" loading="lazy" decoding="async" width="570" height="330">
            </div><!-- /.top-menu-image -->
          </div><!-- /.top-menu-item-header -->
          <div class="top-menu-item-body">
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">お手軽サブスク </h4>
              <div class="top-menu-continuation">
                <p class="top-menu-coupon-ticket">月額</p>
                <dl class="top-menu-continuation-def-list">
                  <dt>月2回</dt>
                  <dd>
                    <span aria-label="いちまんはっせんえん">
                      <span class="top-menu-price">18,000</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label="きゅうせんえん">9,000円</span>/1回)</span>
                  </dd>
                  <dt>月4回</dt>
                  <dd>
                    <span aria-label="さんまんよんせんえん">
                      <span class="top-menu-price">34,000</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label=はっせんごひゃくえん">8,500円</span>/1回)</span>
                  </dd>
                  <dt>月6回</dt>
                  <dd>
                    <span aria-label="よんまんきゅうせんはっぴゃくえん">
                      <span class="top-menu-price">49,800</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label="はっせんさんびゃくえん">8,300円</span>/1回)</span>
                  </dd>
                  <dt>月7回以上</dt>
                  <dd>
                    <span aria-label="プラス回数">
                      <span class="top-menu-price top-menu-price--extra">＋回数</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label="はっせんさんびゃくえん">8,300円</span>/1回)</span>
                  </dd>
                </dl>
              </div><!-- /.top-menu-continuation -->
              <!-- <small class="top-menu-note">※詳細は店頭にてご案内いたします</small> -->
            </div><!-- /.top-menu-detail -->
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">回数券 </h4>
              <div class="top-menu-continuation">
                <p class="top-menu-coupon-ticket">お試し</p>
                <dl class="top-menu-continuation-def-list">
                  <dt>3回券</dt>
                  <dd>
                    <span aria-label="にまんななせんろっぴゃくえん">
                      <span class="top-menu-price">27,600</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-expiration-date">(有効期限2ヶ月)</span>
                  </dd>
                </dl>
              </div><!-- /.top-menu-continuation -->
              <!-- <small class="top-menu-note">※詳細は店頭にてご案内いたします</small> -->
            </div><!-- /.top-menu-detail -->
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">都度払い</h4>
              <p class="top-menu-one-off">
                  <span aria-label="いちまんさんぜんえん">
                    <span class="top-menu-price">13,000</span>
                    <span class="top-menu-yen">円</span>
                  </span>
                  <span class="top-menu-one-off-per">/1回</span>
              </p><!-- /.top-menu-one-off -->
            </div><!-- /.top-menu-detail -->
          </div><!-- /.top-menu-item-body -->
        </li>

        <li class="top-menu-item">
          <div class="top-menu-lesson-title">
            <h3 class="top-menu-lesson-title-text">
              <span>セミパーソナルレッスン</span>
            </h3>
            <p class="top-menu-lesson-title-meta">マシンピラティス　40分/1回</p>
          </div><!-- /.top-menu-lesson-title -->
          <div class="top-menu-item-header">
            <div class="top-menu-description">
              <p class="top-menu-text">お二人までの限られた環境で行う、<br>質を大切にした上質なレッスン。</p>
              <p class="top-menu-text">一人ひとりの状態を丁寧に見極めながら、<br>それぞれに必要なサポートを行います。</p>
              <p class="top-menu-text">“一人ではない、でも流されない”。<br>ほどよい距離感の中で、<br>誰かと過ごす安心感と、<br>自分に集中できる静けさ。<br>その両方を大切にする時間を、<br>味わってみてください。</p>
            </div><!-- /.top-menu-description -->
            <div class="top-menu-image">
              <img src="/assets/images/menu/pic-menu-semi-personal@2x.webp" alt="少人数での受講でインストラクターのサポートを受けながら行うセミパーソナルピラティスレッスン" loading="lazy" decoding="async" width="570" height="330">
            </div><!-- /.top-menu-image -->
          </div><!-- /.top-menu-item-header -->
          <div class="top-menu-item-body">
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">セミパーソナルについて</h4>
              <p class="top-menu-detail-semi">より質の高いレッスンを提供するため、セミパーソナルクラスは、一定の条件を満たした方へスタジオよりご案内する特別クラスとして実施しています。</p>
            </div><!-- /.top-menu-detail -->
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">ご案内とお願い</h4>
              <p class="top-menu-detail-semi">ご希望のある方は、一度プライベートレッスンをご受講のうえタッフまでご相談ください。</p>
            </div><!-- /.top-menu-detail -->
          </div><!-- /.top-menu-item-body -->
        </li>

        <li class="top-menu-item">
          <div class="top-menu-lesson-title">
            <h3 class="top-menu-lesson-title-text">
              <span>グループレッスン</span>
            </h3>
            <p class="top-menu-lesson-title-meta">ヨガ／マットピラティス　60分/1回</p>
          </div><!-- /.top-menu-lesson-title -->
          <div class="top-menu-item-header">
            <div class="top-menu-description">
              <p class="top-menu-text">同じ想いを持つ仲間と一緒に、<br>心と身体をゆっくりほどく時間を過ごしませんか?</p>
              <p class="top-menu-text">少人数制だから、慌ただしさはありません。</p>
              <p class="top-menu-text">落ち着いた空間で、“誰かと一緒"の安心感が、<br>心の余裕と身体の調和を<br>そっと育ててくれます。</p>
            </div><!-- /.top-menu-description -->
            <div class="top-menu-image">
              <img src="/assets/images/menu/pic-menu-group-new@2x.webp" alt="スタジオで複数人が一緒に行うヨガのグループレッスンの様子" loading="lazy" decoding="async" width="570" height="330">
            </div><!-- /.top-menu-image -->
          </div><!-- /.top-menu-item-header -->
          <div class="top-menu-item-body">
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">回数券 </h4>
              <div class="top-menu-continuation">
                <p class="top-menu-coupon-ticket">回数券</p>
                <dl class="top-menu-continuation-def-list">
                  <dt>4回券</dt>
                  <dd>
                    <span aria-label="いちまんにせんはっぴゃくえん">
                      <span class="top-menu-price">12,800</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label="さんぜんにひゃくえん">3,200円</span>/1回)</span>
                  </dd>
                  <dt>8回券</dt>
                  <dd>
                    <span aria-label="にまんよんせんえん">
                      <span class="top-menu-price">24,000</span>
                      <span class="top-menu-yen">円</span>
                    </span>
                    <span class="top-menu-unit-price">(<span aria-label="さんぜんえん">3,000円</span>/1回)</span>
                  </dd>
                </dl>
              </div><!-- /.top-menu-continuation -->
              <!-- <small class="top-menu-note">※詳細は店頭にてご案内いたします</small> -->
            </div><!-- /.top-menu-detail -->
            <div class="top-menu-detail">
              <h4 class="top-menu-detail-heading top-menu-detail-heading--bg-beige">都度払い</h4>
              <p class="top-menu-one-off">
                  <span aria-label="さんぜんごひゃくえん">
                    <span class="top-menu-price">3,500</span>
                    <span class="top-menu-yen">円</span>
                  </span>
                  <span class="top-menu-one-off-per">/1回</span>
              </p><!-- /.top-menu-one-off -->
            </div><!-- /.top-menu-detail -->
          </div><!-- /.top-menu-item-body -->
        </li>
      </ul>
    </div><!-- /.top-menu-section-body.l-section-body -->
  </div><!-- l-container-s -->
</section><!-- /.top-menu -->

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-menu {
    margin-top: 60px;
  }

  .top-menu-list {
    display: grid;
    gap: 40px;
    padding-top: 16px;
  }

  .top-menu-lesson-title {
  }

  .top-menu-lesson-title-text {
    padding-bottom: 8px;
    border-bottom: 1px solid;
    font-size: 18px;
    letter-spacing: 0.02em;

    span {
      display: inline-block;
    }
  }

  .top-menu-lesson-title-meta {
    margin-top: 6px;
    text-align: right;
  }

  .top-menu-item-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .top-menu-description {
    display: grid;
    gap: 1.72em;
    line-height: 1.8;
  }

  .top-menu-item-body {
    display: grid;
    gap: 38px;
    margin-top: 38px;
    font-size: 16px;
  }

  .top-menu-detail-heading {
    padding: 8px 0 7px;
    border: 1px solid;
    margin-bottom: 10px;
    text-align: center;
    position: relative;

    &--bg-beige {
      background-color: #e9d5c4;
    }

    &--bg-skyblue {
      background-color: #d2e7ee;
    }
  }

  .top-menu-detail-semi {
    font-size: 14px;
    line-height: 1.65;
  }

  .top-menu-one-off {
    margin-right: 2px;
    text-align: right;
  }

  .top-menu-one-off-per {
    font-size: 12px;
  }

  .top-menu-first-time {
    margin-left: 5px;
  }

  .top-menu-plus {
    margin: 0 4px;
    font-size: 14px;
  }

  .top-menu-yen {
    font-size: 12px;
  }

  .top-menu-continuation {
    display: flex;
    justify-content: space-between;
  }

  .top-menu-coupon-ticket {
    flex: 0 0 50px;
  }

  .top-menu-continuation-def-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 235px;

    dt {
      width: 78px;
      font-weight: 400;
    }

    dd {
      display: flex;
      gap: 6px;
    }
  }

  .top-menu-price {
    &--extra {
      margin-left: 13px;
    }
  }

  .top-menu-unit-price,
  .top-menu-expiration-date {
    margin-top: 4px;
    font-size: 12px;
  }

  .top-menu-expiration-date {
    letter-spacing: -0.1em;
  }

  .top-menu-note {
    display: block;
    width: fit-content;
    margin: 10px 0 0 auto;
    font-size: 12px;
  }

  @include mq() {
    .top-menu {
      margin-top: 80px;
    }

    .top-menu-list {
      gap: 64px;
      padding: 0;
    }

    .top-menu-lesson-title-text {
      padding-bottom: 10px;
      font-size: 24px;
    }

    .top-menu-lesson-title-meta {
      margin-top: 8px;
      font-size: 20px;
    }

    .top-menu-item-header {
      flex-direction: row-reverse;
      align-items: center;
      gap: min(68px, calc(68 var(--vw-pc)));
      margin-top: 40px;
    }

    .top-menu-description {
      flex: 0 0 320px;
      gap: 1em;
      font-size: 14px;
    }

    .top-menu-image {
      flex: 1 1 auto;
    }

    .top-menu-item-body {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px min(100px, calc(100 var(--vw-pc)));
      margin-top: 75px;
      font-size: 16px;
    }

    .top-menu-detail-heading {
      padding: 10px 0 9px;
      margin-bottom: 30px;

      &--bg-beige::before,
      &--bg-skyblue::before {
        width: 54px;
        height: 21px;
        top: -35px;
      }
    }

    .top-menu-detail-semi {
      font-size: 16px;
    }

    .top-menu-one-off-def-list {
      line-height: 1.75;
    }

    .top-menu-first-time {
      margin-left: 6px;
    }

    .top-menu-plus {
      margin: 0 4px;
      font-size: 14px;
    }

    .top-menu-yen {
      font-size: 12px;
    }

    .top-menu-continuation {
      gap: 14px;
    }

    .top-menu-continuation-def-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 10px;
    }

    .top-menu-note {
      margin: 20px 0 0 auto;
      font-size: 12px;
    }
  }

  @media screen and (min-width: 950px) {
    .top-menu-description {
      flex: 0 0 362px;
      gap: 1.82em;
      font-size: 16px;
    }

    .top-menu-item-body {
      font-size: 20px;
    }

    .top-menu-first-time {
      margin-left: 10px;
    }

    .top-menu-plus {
      margin: 0 10px;
      font-size: 16px;
    }

    .top-menu-yen {
      font-size: 14px;
    }

    .top-menu-continuation {
      gap: 18px;
    }

    .top-menu-coupon-ticket {
      flex: 0 0 62px;
    }

    .top-menu-continuation-def-list {
      gap: 20px;
      width: 292px;

      dt {
        width: 95px;
      }
    }

    .top-menu-price {
      &--extra {
        margin-left: 16px;
      }
    }

    .top-menu-unit-price,
    .top-menu-expiration-date {
      margin-top: 6px;
      font-size: 14px;
    }

    .top-menu-note {
      font-size: 14px;
    }

    .top-menu-one-off-per {
      font-size: 14px;
    }
  }
</style>
